<header>
  <a [routerLink]="['/']" class="logo">TDHL</a>
  <a [routerLink]="['/']" class="button">Home</a>  
</header>
<h1>About</h1>
<p>Hi! Im a Software Developer and game-lover that goes by the name Maltus H. Vandrel, which is not my real name but fuck it, I like it. </p>
<p>Im developing this game called <strong>'The Dead Hero Legend'</strong> mostly because I love to make things.</p>
<p>In this page I intent to put some functionalities like export a backup, download of log files and ways to send me feedback.</p>
<p>By now I let you with these links:</p>
<ul>
<li>
<a href="https://twitter.com/maltus_vandrel">
<img src="https://abs.twimg.com/favicons/twitter.ico" style="height:16px">
Say hi to me on Twitter</a>
</li>
<li> 
<a href="https://trello.com/b/0adymKW4/game-the-dead-hero-legend">
<img src="https://a.trellocdn.com/prgb/dist/images/ios/apple-touch-icon-72x72-precomposed.91a3a04ec68a60903801.png" style="height:16px">
Keep track of the development on Trello</a>
</li>
<li> 
<a href="https://www.patreon.com/TDHL_RPG">
<img src="https://c5.patreon.com/external/favicon/favicon-32x32.png?v=69kMELnXkB" style="height:16px">
Support me on Patreon</a>
</li>
</ul>