html{
  padding:0px;
  margin:0px;
  max-height: 100vh;
  min-height:100vh;
  overflow:none;
}
.wd-100{
  width:100%;
}
.p-8{
  padding:8px;
}
.pt-8{
  padding-top:8px;
}
.pb-8{
  padding-bottom:8px;
}
.pl-8{
  padding-left:8px;
}
.pr-8{
  padding-right:8px;
}