
   .floating-button{
    z-index: 9999;
    position: absolute;
}
    #root_div_map{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: black;
    }
    #root_div_map>#map{
        border:1px solid #444444;
        position: absolute;
        width: 2000px;
        height: 2000px;
        cursor: move;
        background-image: url(/game/widget/map/map.png);
        background-size: 100%;
    }
    .circle{
      width:8px;
      height:8px;
      position: relative; 
      border: 2px solid white;      
      border-radius: 50%;
      background-color: red;    
      transition: transform 0.1s,background-color 0.2s; 
      cursor: pointer;
    }
    .hoverable:hover{
      fill: #444444;
      transform: scale(1.5);
      background-color: blue;     
    }    
